body {
      margin: 0 auto;
      text-align: center;


      color: black;
    
      font-family: helvetica;
      padding: 50px;

        background: #A0A0A0;

}
      h1 {
        font-family: 'Damion', cursive;
text-align: center; 
  padding: 10px;
  line-height: 28px;
  color: #330066;

  
  }
 

 h3 {

  font-family: 'Open Sans Condensed';
 }


  table.center {
    margin-left:auto; 
    margin-right:auto;
  }
#social-buttons {
  margin-top: 50px;

}
.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color: white;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
}

a { 
    color:black;
    text-decoration:none;
}
